<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/socket.io/socket.io.js"></script>
    <script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <link href="buddy.css" rel="stylesheet" type = "text/css">
    <title>Find a fitness buddy!</title>
</head>
<body>
    <ul class="topnav">
        <li> <a href="/">Home</a> </li>
        <li> <a href= "workouts.html"> Workouts </a> </li>
        <li> <a href="nutrition.html">Nutrition</a> </li>
        <li> <a href="gyms.html">Find Gyms</a> </li>
        <li class= "rankinglist">
            <form action="/ranking" method= "post">
                <button type = "submit" id = "signout_button" style= "background-color: transparent; margin-bottom:5px;">
                <span>
                <a> Leaderboards </a> </span></button></form></li>
        <li class= "trainerlist"> 
                <form action="/trainers" method="post">
                    <button type="submit" id="signout_button" style="
                      background-color: transparent;
                      margin-bottom: 5px;"><span>
                    <a>Talk to a Trainer</a></span></button>
        </form></li>
        <li> <a href="/customerService">Public Chatroom</a> </li>
        <li class= "buddy"> 
                <form action="/buddy" method="post">
                    <button type="submit" id="signout_button" style="
                      background-color: transparent;
                      margin-bottom: 5px;"><span>
                    <a class="active">Find a Fitness Buddy</a></span></button>
        </form></li>
        <li class= "right"> 
            <form action="/signout" method="post">
                <button type="submit" id="signout_button" style="
                  background-color: transparent;
                  margin-bottom: 5px;"><span>
                <a>Sign Out</a></span></button>
            </form></li>   
    </ul>
    
    <h1>Find a fitness buddy!</h1>
    <div id = "test">
    <div id='DataTable'>
        <table id='table'>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Weight</th>
                    <th>Goal</th>
                    <th>Bench</th>
                    <th>Deadlift</th>
                    <th>Squat</th>
                    <th>Exp</th>
                </tr>
            </thead>
            <tbody>
                <% for(var i=0;i < users.length;i++){ %>
                <tr>
                    <td><%=users[i].name%></td>
                    <td><%=users[i].weight%></td>
                    <td><%=users[i].goal%></td>
                    <td><%=users[i].bench%></td>
                    <td><%=users[i].deadlift%></td>
                    <td><%=users[i].squat%></td>
                    <td><%=users[i].exp%></td>
                </tr>
                <%}%>
            </tbody>
            
            
        </table> 
    </div>

    <div class="main-container">
            <h2> Welcome to the <%=chatType %> Chat</h2>
            <div class="chat-content">
                
            </div>
            <div class="handle">
                <input type="text" id="msg">
                <button id="btn-submit">send message</button>
            </div>
    </div>

    <div class="connected-users">
        <h3> Connected Users</h3>
        <p id = 'user'></p>
    </div>
    </div>
    <br><br>
    <footer>
        <p>Group Pineapple | copyright 2019</p>
    </footer>

    <script>

        var socket = io();

        var conversation_id = '<%=conversation_id%>';
        var user = '<%=name%>';

        socket.emit('subscribe', {
            room: conversation_id,
            user: user
        });

        var userList = [];

        socket.on('update', function (users){
            userList = users;
            console.log(userList);
            $('#user').empty();
            for(var i=0; i<userList.length; i++) {
                if (userList[i] !== null){
                    $('#user').append("<h4>" + userList[i] + "</h4>"); 
                }
            }
        });

        $('#btn-submit').click(function(){
            socket.emit('send message', {
                room: conversation_id,
                message: $("#msg").val(),
                sender: user
            });
            $('#msg').val('');
        })


        window.onbeforeunload = function(){
            console.log('closing socket');
            socket.emit('disconnect', function(){
                console.log('disconnected');
            });
        }

        socket.on('conversation private post', function(data) {
            //display data.message
            $('.chat-content').append('<div class="you">' + data.sender + ': ' + data.message + '</div>');
        });


    </script>


    
</body>
</html>